.Cart_wrap {
    margin: 0 auto;
    display: flex;
    width: 100%;
    max-width: 1920px;
    min-height: 100vh;
}

.Cart_menu {
    color: #8f8f8f;
}

.Cart_cart {
    margin-top: 80px;

    .Cart_banner {
        img {
            width: 1350px;
            margin-top: 20px;
        }
    }

    .Cart_empty {
        width: 1350px;
        height: 250px;
        background-color: #f7f7f7;
        border-top: 3px solid;
        border-color: #333333;

        h1 {
            margin-top: -80px;
        }

        img {
            margin-left: 540px;
            margin-top: 100px;
        }

        p {
            margin-left: 600px;
            font-size: 16px;
            margin-top: -40px;
            font-weight: 600;
            color: #000000;
            text-align: left;
        }
    }
}


.Cart_recommend {
    margin-top: 80px;

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
        font-weight: 400;
        margin-top: 0;
    }

}

.recommend-slider-container {
    width: 1350px;

    .slick-slide {
        padding: 0 10px;
    }

    .slick-list {
        .slick-track {
            width: 6000px !important;
            margin: 0;
        }
    }

    .cart-product {
        box-sizing: border-box;
        width: 100%;
        height: 230px;
        background-color: #f7f7f7;
        border-radius: 20px;
        float: left;
    }
}

.Cart_right {
    margin-top: 200px;
    margin-left: 50px;
    width: 450px;
    height: 540px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;

    .Cart_login1 {
        height: 200px;

        .Cart_login1_text {
            display: flex;
            margin-left: 12%;
            gap: 20px;
            margin-top: 20px;
            font-size: 15px;

            img {
                width: 20px;
                margin-top: -15px;
            }
        }

        button {
            width: 120px;
            height: 50px;
            margin-left: 35%;
            margin-top: 30px;
            border: 0.5px solid;
            border-radius: 40px;
            cursor: pointer;
            font-weight: 500;
            font-size: 20px;
            background-color: #fff;
            color: black;
        }
    }

    .Cart_login2 {
        height: 220px;
        background-color: #fff;

        p {
            font-size: 22px;
            color: #757575;
            margin-left: 60px;
            padding-top: 15px;

            span {
                margin-left: 200px;
                color: #000000;
            }

            .blue {
                color: #007aff;
            }
        }

    }

    .Cart_login3 {
        height: 100px;

        p {
            font-size: 20px;
            color: #000000;
            margin-left: 60px;
            margin-top: 10px;

            span {
                margin-left: 160px;
                font-size: 28px;
                font-weight: bold;
                color: #000000;
            }
        }
    }
}

.recommend-item-wrap {
    display: flex;
}

.product-detail {
    padding-left: 50px;
    width: 420px;
}

.product-name {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.product-image {
    width: 130px;
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
}

.product-image img {
    height: 100%;
    object-fit: contain;
}


.original-price {
    font-size: 22px;
    font-weight: bold;
    color: #007bff;
}

.product-point-info,
.product-price-info {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.product-price-info {
    padding-top: 10px;
}

.product-point-info .point-name {
    font-size: 17px;
    color: #666;
}

.point-price {
    font-size: 18px;
    color: #707070;
    font-weight: 500;
}

.review-name {
    text-align: right;
    margin-right: 30px;
    font-size: 17px;
    color: #333;
    border-top: 2px solid #ddd;
    font-weight: 700;
    margin-top: 20px;
}

.Cart_footer {
    display: flex;
    border-top: 8px solid #F7F7F7;
    justify-content: space-between;
    margin-bottom: 500px;
    margin-top: 100px;

    .Cart_footer_left {
        p {
            font-size: 16px;
            color: #707070;
        }

        span {
            color: #000;
            font-weight: 600;
            margin: 0 0 0 4px;
        }
    }

    .Cart_footer_right {
        p {
            border-bottom: 1px solid #000;
            font-weight: 700;
            margin-right: 10px;
            cursor: pointer;
        }
    }
}

.prev-vector-img,
.next-vector-img {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.prev-vector-img {
    position: relative;
    left: 1250px;
    top: -40px;
}

.next-vector-img {
    position: relative;
    left: 1300px;
    top: -310px;
}

.recommend-slider-button {
    display: flex;
    justify-content: center;
    margin: 40px;
    gap: 20px;


    button.recommend-1 {
        width: 140px;
        height: 55px;
        border: 0.5px solid;
        border-radius: 40px;
        cursor: pointer;
        font-weight: 700;
        font-size: 17px;
        background-color: transparent;
        color: black;
    }

    button.recommend-2 {
        width: 130px;
        height: 55px;
        border: 0.5px solid;
        border-radius: 40px;
        cursor: pointer;
        font-weight: 700;
        font-size: 17px;
        background-color: black;
        color: #fff;
    }


}