.Header {
    width: 1920px;
    margin: 0 auto;
}

.header_top {
    li {
        margin: 10px;
        position: relative;
        left: 72%;
        float: left;
        list-style: none;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }

    li>a {
        color: black;
        text-decoration: none;
    }
}

.header_main {
    display: flex;
    width: 1920px;

    .logo_H {
        img {
            width: 200px;
            cursor: pointer;
        }
    }

    ul {
        margin-block-start: 0;
    }

    li {
        margin: 18px;
        padding: 0;
        float: left;
        list-style: none;
        position: relative;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;

        a:hover {
            color: #007aff;
            border-bottom: 4px solid;
            padding-bottom: 30px;
        }
    }

    li>a {
        color: black;
        text-decoration: none;
    }

    .submenu>li {
        margin-top: 100px;
        line-height: 50px;
        left: -20px;
    }

    .submenu {
        // display: none;
        margin-top: 50px;

    }
}

.full_width_submenu {
    position: fixed;
    left: calc(50% - 960px);
    width: 1920px;
    background-color: #FFF;
    z-index: 2;
    height: 500px;
    top: 143px;

    &.active {
        height: 600px;
    }

    .submenu_content_wrapper {
        display: flex;
        justify-content: space-between;
        padding: 40px 80px;
        color: black;


        .submenu_left_categories {
            width: 20%;

            ul {
                list-style: none;
                padding: 0;

                li {
                    margin-bottom: 12px;

                    a {
                        color: #FFF;
                        text-decoration: none;
                        font-size: 18px;

                        a:hover {
                            color: #ccc;
                        }
                    }
                }
            }
        }

        .submenu_center_products {
            width: 1245px;

            .product_grid {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                gap: 20px;

                .product_item {
                    text-align: center;

                    img {
                        width: 120px;
                        height: auto;
                        margin-bottom: 10px;
                        cursor: pointer;
                    }

                    img:hover {
                        transform: scale(1.1, 1.1);
                        transition-duration: 0.5s;
                    }

                    p {
                        color: black;
                        font-weight: 500;
                        font-size: 16px;
                    }
                }
            }
        }

        .submenu_right_links {
            width: 25%;

            .extra_link_section {
                margin-bottom: 30px;

                h3 {
                    font-size: 17px;
                    font-weight: 400;
                    margin-bottom: 10px;
                    color: #ccc;
                }

                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        margin-bottom: 8px;

                        a {
                            color: rgb(51, 51, 51);
                            text-decoration: none;

                            &:hover {
                                color: #ccc;
                            }
                        }
                    }
                }
            }
        }
    }
}

.function {
    display: flex;
    position: relative;
    left: 180px;
    padding-top: 20px;

    .search {
        width: 220px;
        height: 50px;
        background: #F7F7F7;
        border-radius: 40px;
        box-sizing: border-box;
        border: 4px solid #f7f7f7;
        text-align: left;
        cursor: pointer;

        svg {
            width: 30px;
            height: 30px;
            padding-left: 10px;
        }
    }

    .function_right {
        display: flex;
        margin-left: 40px;
        gap: 30px;

        .cart {
            background-color: transparent;
            border: none;
        }

        .mypage {
            margin-top: 10px;
        }

        svg {
            width: 40px;
            height: 40px;
            cursor: pointer;
        }
    }
}

.mypage_dropdown {
    position: absolute;
    z-index: 5;
    width: 350px;
    height: 500px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.1);
    right: 15px;
    margin-top: 7px;

    p {
        font-size: 18px;
        padding-top: 10px;
        padding-left: 50px;
        color: #333333;
        cursor: pointer;
    }

    .mypage-item-로그인회원가입 {
        font-weight: 600;
    }

    .mypage-item-삼성계정을만들어야하는이유 {
        padding: 10px 50px 20px;
        border-bottom: 3px solid #F7F7F7;
    }

}
